.card-anchor {
  color: var(--primary-color);
  text-decoration: none;
  
}
.img-container {
  position: relative;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}
.onHover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--primary-color);
}
.img-container:hover .onHover {
  opacity: 0.9;
}
.img-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

 
}

.card-body {
  text-align: center;
  height: 130px;
}
.card-title{
  font-size: 17px;
}