:root {
  --primary-color: #01b2ee;
  --primary-lighter-color: #30acd5;
  --text-light: #92a2ad;
  --text-white: #fff;
  --secondary-color:#4f5864;
  
  
}
ul li {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.App {
  display: flex;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f7fb;
}
