/* Nav */
.navbar {
  background: var(--primary-color);
  flex-wrap: nowrap;
}
.navbar-brand {
  font-weight: bolder;
  font-size: 30px;
  margin-left: 5%;
}

.dropdown-item {
  border-bottom: solid rgba(179, 166, 166, 0.203) 1px;
  color: var(--secondary-color);
  padding-top: 5%;
  font-size: 14px;
}
.nav a {
  font-weight: 900;
}
.dropdown-item:hover {
  color: var(--primary-color);
}
.navOne{
  left:-5.2rem
}
.nav-link {
  color: var(--text-white);
}
.nav-link:hover,
.nav-link:focus,
.nav-link :active {
  background: none;
  color: var(--text-white)!important;
}

.navbar-iconItem {
  color: var(--text-white);
  font-size: 25px;
}
.icon{
  font-size: 10px;
}

#navbar .nav-link {
  color: var(--secondary-color);
  font-weight: bolder;
}

#links :hover{
  color: var(--primary-color) !important;
}

#items li a {
  font-size: 16px;
  padding-right: 40px;
}
#items :hover {
  color:var(--primary-color) !important;
}
.navbar-iconMedia{
  color: var(--secondary-color);
 font-size: 30px;
}

/* Footer */
.text-muted a {
  color: grey;
  text-decoration: none;
}
.text-muted {
  font-weight: bold;
}
.text-primary{
    font-size: 24px;
    padding-left: 10px;
}
.text-link{
    color: black;
    font-weight: 600;
    font-size: 20px;
}


